:root {
    --accent-color :#9078dd;
    --bg-color : #7c55fb;
}

body {
/*    background-color: var(--bg-color);
    background-image: url("https://media.giphy.com/media/3ohzgSHpvk6b8M7f9e/giphy.gif");*/
    background-image: url("https://static1.squarespace.com/static/52d59191e4b0002632d3a702/580d1b28725e25bbaadd9185/580e873d2994caaa1f93fd5b/1477888831158/pink_xs.gif");
    background-color: pink;
    color: var(--accent-color);
}

a {
    color: var(--accent-color);
    text-decoration: none;
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 2px;
}

a:visited {
    color: var(--accent-color);
    text-decoration: none;
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 2px;
}

a:hover {
    color: #5727f4;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 500px;
    min-width: 200px;
    transform: translate(-50%, -50%);
    /* IE 9 */
    -ms-transform: translate(-50%, -50%);
    /* everything else */
    -webkit-transform: translate(-50%, -50%); 
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow:7px 7px var(--accent-color);
}

h1 {
    font-family: 'Abel', sans-serif;
    font-size: 4vh;
    font-weight: bold;
    letter-spacing: -1px;
}

.text {
    font-family: 'Abel', sans-serif;
    font-size: 3vh;
    line-height: 1.2;
}

.links {
    font-size: 2vh;
    font-family: 'Abel', sans-serif;
    line-height: 2;
}
